.banner {
    position: relative;
}

.banner__image {
    width: 100%;
}

.banner__content {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secondary-text-color);
    background: var(--opac-secondary-brand-color); 
    width: 100%;
    text-align: center;
}

