:root {
    --bg-color: #FFF;
    --main-text-color: #FFF;
    --secondary-text-color: #535353;
    --main-brand-color: #008b20;
    --secondary-brand-color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.body {
    color: var(--main-text-color);
    
}