:root {
    --bg-color: #FFF;
    --main-text-color: #535353;
    --secondary-text-color: #FFF;
    --main-brand-color: #FFF;
    --secondary-brand-color: #00954c;
    --opac-secondary-brand-color: #00954c80;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

.body {
    color: var(--main-text-color);
}

html {
    scroll-behavior: smooth;
}

#contacto, #skills {
    scroll-margin-top: 129px; 
}

.main {
    max-width: 700px;
    margin: 40px auto 100px auto;
    width: 90%;
}

h2 {
    margin-block-start: 0.5em;
    margin-block-end: 0.25em;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 1em;
}



