:root {
    --bg-color: #FFF;
    --main-text-color: #535353;
    --secondary-text-color: #FFF;
    --main-brand-color: #FFF;
    --secondary-brand-color: #008b20;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

.body {
    color: var(--main-text-color);
}

html {
    scroll-behavior: smooth;
}

.main {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}

.presentation {
    text-align: justify;
}