.footer {
    background-color: var(--main-brand-color);
    height: 5rem;
    width: 100%;
    position: relative;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Centra horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* Centra verticalmente */
    display: flex;
    gap: 40px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}

.footer__list li i{
    color: var(--secondary-brand-color);
    font-size: 30px;
}