.form .btn{
    color: var(--secondary-text-color);
    background-color: var(--secondary-brand-color);
    padding: 0.8rem;
    border: 1px solid var(--secondary-brand-color);
    border-radius: 5px;
    cursor: pointer;
}

.form .btn.btn--secondary {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
}

.form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.form__element.form__element--fieldset legend{
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.form__element.form__element--fieldset {
    border: 0;
    padding: 0;
    font-size: 1rem;
}

.form__element__radio__list {
    display: flex;
    flex-direction: column;
    gap:10px;
    border-radius: 5px;
    padding: 16px 12px;
    border: none;
    background-color: var(--main-text-color);
    color: var(--secondary-text-color);
}

.form__element__radio__list div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
}

.form__element.form__element--checkbox {
    flex-direction: row;
    align-items: center;
    gap: 10px; 
}

.form__element.form__element--checkbox .form__label {
    margin: 0;
}


.form__label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.form__input {
    border-radius: 5px;
    padding: 16px 12px;
    border: none;
    background-color: var(--main-text-color);
    color: var(--secondary-text-color);
}

.form__input:-webkit-autofill {
    box-shadow: 0 0 0 30px var(--main-text-color) inset; /* Cambiar el color del fondo durante el autorelleno */
    -webkit-text-fill-color: var(--secondary-text-color) !important; /* Cambiar el color del texto durante el autorelleno */
}


@media (hover: hover) {
.form .btn:hover {
        box-shadow: 0px 10px 10px 0px var(--secondary-brand-color);
    }
}

@media(width > 768px) {
    .form form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        align-items: left;
        margin-bottom: 10px
    }

    .item {
        grid-column: span 1;
        grid-row: span 1;
    }
    
    .wide {
        grid-column: span 2;
    }
}