.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--secondary-brand-color);
    box-shadow: 0px 9px 13px 8px var(--secondary-brand-color);
}

.header__box {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__box__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__box__list li .btn {
    color: var(--secondary-text-color);
    padding: 0.8rem;
    border-radius: 70px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 1s, color 1s;
}

.header__box__list li .btn.web {
    display: none;
}

.header__box__logo img {
    width: 60px;
    padding: 5px 20px 0 0;
}

@media (hover: hover) {
    .header__box__list li .btn:hover{
        background-color: var(--main-brand-color);
        color: var(--secondary-brand-color);
        font-weight: bold;
    }

    .btn--menu:hover span{
        background-color: var(--secondary-brand-color);
    }
}

@media(width > 768px) {
    .header__box__list li .btn {
        display: none;
    }

    .header__box__list li .btn.web {
        display: block;
        border: 0;
    }

    .header__box__list {
        gap: 20px;
    }
}

.btn--menu{
    max-width: 59px;
}

.btn--menu span {
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 100%;
    border-radius: 15px;
    padding: 2px;
    background-color: var(--main-brand-color);
    transition: background-color 1s;    
}

.btn--menu span:last-child {
    margin-bottom: 0;
  }